<!DOCTYPE>
<html>
<head>
  <title><%= Lita.config.robot.name %> Available Commands</title>
  <style> 
  body {font-size:120%;}
  dt {font-family: monospace;font-weight:bold;font-size:125%;}
  dd {margin-bottom:0.5em;font-style: italic;}
  </style>
</head>
<body>
  <h1><%= Lita.config.robot.name %> Available Commands</h1>

  <p>The list below contains the possible commands and phrases that <code><%= Lita.config.robot.name %></code> can respond to.</p>

  <dl>
    <% @commands.each do |command| %>
      <dt><%= CGI.escapeHTML(command[:command]) %></dt>
      <dd><%= CGI.escapeHTML(command[:description]) %></dd>
    <% end %>
  </dl>
</body>
</html>